/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
    }
    body {
       width: 1000px;
       height: 100%;
    }


    header {
        text-align: center;
        background-color: #CF270A ;
        padding: 10px;
        margin: 0;
        border: 5px solid black;
        font-size: 25px;
        display: block;
    }
    nav {
        text-align: middle;
        float: middle;
    }
    nav ul {
        text-align: center;
        padding:5px ;
        float: left;
        border-bottom: ;
        list-style-type: none;
    }
    nav li {
        text-align: center;
        float: left;
    }
    nav li a {
        text-align: center;
        display: block;
        height: 5px;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
    }
    a {
        color: black;
    }
    section {
        text-align: center;
        width: 73%;
        display: inline-block;
        float: left;
    }
    aside {
        text-align: center;
        width: 17%;
        display: inline-block;
        background-color:;
        padding:;
        min-height: 100%;
    }
    aside ul {
        text-align: center;
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:#CF270A;
        color:#CF270A;
        clear: both;
        display: block;
    }
